.hidden {
    display: none !important;
}

body {
    margin: 0;
    width: calc(100vw - 3px);
    height: calc(100vh - 2px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .05);
    cursor: default;
}


#checkbox {
    font-size: 14px;
    display: flex;
    align-items: center;
}

#checkbox #chbox {
    width: 24px;
    height: 24px;
    margin-right: 14px;
    border: 2px solid #c1c1c1;
    border-radius: 2px;
}
#checkbox:hover #chbox {
    border: 2px solid #b2b2b2;
}


#icon {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#icon #icon-img {
    text-align: center;
}
#icon img {
    width: 32px;
        animation: rotating .8s cubic-bezier(0.5, 0.09, 0.27, 0.77) infinite;
}
#icon #icon-text {
    font-size: 8px;
    color: #a6a6a6;
}



@keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
